@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .notification {
            display: none;
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px;
            background-color: #00b09b;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="header-text"></div>
            </div>
            
            <div class="col-md-6">
                <div class="application-form">
                    <h4 class="mb-4">Başvuru Formu</h4>
                    <p>Başvuru için lütfen gerekli bilgileri doldurun.</p>
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Adınız *</label>
                            <input type="text" class="form-control" id="name" name="Ad" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-posta *</label>
                            <input type="email" class="form-control" id="email" name="Eposta" required>
                        </div>
                        <div class="form-group">
                            <label for="tc">TC *</label>
                            <input type="text" class="form-control" id="tc" name="TC" required pattern="\d{11}" maxlength="11">
                            @if (ViewData.ModelState["TC"]?.Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["TC"].Errors[0].ErrorMessage</span>
                            }
                        </div>

                        <div class="form-group">
                            <label for="phonenumber">Telefon No *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="TelefonNo" name="TelefonNo" required pattern="\(\d{3}\) \d{3} \d{2} \d{2}" oninput="formatPhoneNumber(this)">
                                <div class="input-group-append">
                                    <span class="input-group-text">(555) 555 55 55</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthdate">Doğum Tarihi *</label>
                            <input type="date" class="form-control" id="birthdate" name="DogumTarihi" required>
                            @if (ViewData.ModelState["DogumTarihi"]?.Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["DogumTarihi"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <select class="form-control" id="gezi" name="GeziID" required>
                            <option value="">-- Gezi Seçin --</option>
                            @foreach (var gezi in ViewBag.GeziListesi)
                            {
                                if (gezi.Status)
                                {
                                    <option value="@gezi.ID">@gezi.GeziAdı</option>
                                }
                            }
                        </select>
                        <div class="form-group mb-0">
                            <input type="submit" value="Başvuru Yap" class="btn btn-primary">
                        </div>
                    </form>
                    <div id="notification" class="notification" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap2.5.2/js/bootstrap.min.js"></script>

    <script>
        function formatPhoneNumber(input) {
            var phoneNumber = input.value.replace(/\D/g, '');
            var formattedPhoneNumber = '(' + phoneNumber.substr(0, 3) + ') ' + phoneNumber.substr(3, 3) + ' ' + phoneNumber.substr(6, 2) + ' ' + phoneNumber.substr(8, 2);
            input.value = formattedPhoneNumber;
        }
    </script>

    <script>
        var tcInput = document.getElementById('tc');
        var tcError = document.getElementById('tcError');

        tcInput.addEventListener('input', function () {
            var tcValue = tcInput.value;
            if (tcValue.length !== 11 || isNaN(tcValue)) {
                tcInput.value = tcValue.slice(0, 11);
            }
        });
    </script>
    @if (TempData["NotificationMessage"] != null)
    {
        <div class="notification">
            @TempData["NotificationMessage"]
        </div>
        <script>
            function showNotification() {
                var notification = document.querySelector(".notification");
                if (notification) {
                    notification.style.display = "block";
                    setTimeout(function () {
                        hideNotification();
                    }, 5000); // 5 saniye
                }
            }

            function hideNotification() {
                var notification = document.querySelector(".notification");
                if (notification) {
                    notification.style.display = "none";
                }
            }

            showNotification();
        </script>
    }

</body>

</html>
